*,
*::before,
*::after {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

:root {
  --primary-color: #ff8d41;
  --secondry-color-900: #424242;
  --secondry-color-800: #616161;
  --secondry-color-700: #757575;
  --secondry-color-600: #9e9e9e;
  --secondry-color-400: #e0e0e0;
  --secondry-color-300: #eeeeee;

  --bg-color: #ffffff;
  --bg-color-100: #f8f9fb;
}

.container {
  padding: 0px 15px;
  margin: 0 auto;
  width: 100%;
  max-width: 1460px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 25px;
  margin-top: 25px;
  gap: 53px;
  width: 100%;
  max-width: 1390px;
  height: 29px;
  color: var(--bg-color);
  position: absolute;
}

span {
  color: var(--primary-color);
}

.logo {
  font-weight: bold;
  font-size: 29px;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 24px;
  list-style-type: none;
}

a {
  color: var(--bg-color);
  text-decoration: none;
}

.hero {
  background: url("../Assets/Images/Home\ Screen.jpg") no-repeat;
  color: var(--bg-color);
  min-height: 100vh;
}

.banner {
  position: absolute;
  bottom: 64px;
  left: 64px;
}

.hero-title {
  font-weight: 700;
  font-size: 64px;
  /* line-height: 1.5; */
}
.greet {
  font-weight: 500;
  font-size: large;
  margin-bottom: 16px;
}

.hero-discription {
  color: var(--secondry-color-300);
  font-size: medium;
  margin: 32px 0px;
}

#bookNow {
  background-color: var(--primary-color);
  border: none;
  border: var(--primary-color) solid 2px;
  border-radius: 8px;
  color: var(--bg-color);
  padding: 16px 32px;
  font-size: medium;
  /* width: 150px; */
  /* height: 44; */
  margin-right: 16px;
}

#exploreMore {
  background-color: unset;
  border: #ffffff solid 2px;
  /* height: 44px; */
  /* width: 150px; */
  border-radius: 12px;
  color: var(--bg-color);
  padding: 16px 32px;
  font-size: medium;
  margin-right: 16px;
}

#about {
  max-height: 942px;
  padding: 100px 0px;
  margin-bottom: 100px;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

#title {
  color: var(--secondry-color-800);
  font-size: 16pt;
  display: inline-flex;
  justify-items: center;
  align-items: center;
  gap: 12px;
}
#title::after,
#title::before {
  content: "";
  border-radius: 12px;
  width: 30px;
  height: 2.5px;
  background-color: var(--secondry-color-900);
}

.aboutOne {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* height: 360px; */
  max-width: 1270px;
  width: 100%;
  color: var(--secondry-color-900);
}

.aboutImg {
  max-width: 492px;
  max-height: 328px;
  border: var(--secondry-color-400) solid 1.5px;
  padding: 16px;
  border-radius: 50px;
}

#readMore {
  background-color: unset;
  border: var(--primary-color) solid 2px;
  /* height: 44px; */
  width: 150px;
  border-radius: 12px;
  color: var(--primary-color);
  padding: 16px 32px;
  font-size: medium;
  margin-right: 16px;
}

.aboutImgDiscription {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.aboutTwo {
  color: var(--secondry-color-600);
}

#stats {
  max-height: 119px;
  background-color: var(--primary-color);
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1270px;
  width: 100%;
  /* margin: 0 auto; */
  color: var(--bg-color);
}

.count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.h2 {
  font-size: 42px;
}

#rooms {
  height: 100%;
  background-color: var(--bg-color-100);
  padding: 100px 0px;
}

.rooms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.cardHolder {
  margin-top: 75px;
  display: flex;
  justify-content: space-around;
  gap: 48px;
}

.card {
  max-height: 348px;
  max-width: 380px;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.cardImg {
  height: 70%;
  width: 100%;
  margin-bottom: 16px;
}

.cardDiscription {
  color: var(--secondry-color-700);
  font-size: 14pt;
}

.cardTitle {
  color: var(--secondry-color-900);
  font-size: 16pt;
}

#services {
  padding: 100px;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.serviceCardHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 48px;
  margin-top: 75px;
}

.serviceCard {
  width: 350px;
  height: 250px;
  border: var(--secondry-color-400) solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.serviceTitle {
  margin-top: 16px;
  font-weight: bold;
  font-size: 20px;
}

.serviceDiscription {
  font-size: 12px;
  color: var(--secondry-color-600);
}

.prime {
  background-color: var(--primary-color);
  color: var(--bg-color);
}
.serviceTitle.prime {
  color: var(--bg-color);
}

#testimonials {
  padding: 100px 0px;
}

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.testmonialsCardHolder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1236px;
  width: 100%;
  gap: auto;
  padding-top: 75px;
}

.testimonialCard {
  width: 250px;
  height: 218px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  flex-direction: column;
}

.review {
  font-size: 16px;
  color: var(--secondry-color-700);
}

.testName {
  font-size: 16px;
  color: var(--secondry-color-900);
}

.testEmail {
  font-size: 12px;
  color: var(--secondry-color-600);
}

footer {
  padding: 100px 0px;
}
.footer {
  height: 174px;
  /* height: 100%; */
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: auto;
  max-width: 1236px;
  width: 100%;
}

.companyDetails {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  color: var(--secondry-color-600);
}

.quickLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  /* align-items: center; */
}
.quickLinksTitle {
  color: var(--secondry-color-900);
  font-size: 16px;
  font-weight: bold;
}
.quickLinksA {
  font-size: 14px;
  color: var(--secondry-color-600);
}

.quickLinksUL {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  align-items: baseline;
}

.footLogo {
  margin-bottom: 8px;
  color: var(--secondry-color-900);
}
